*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    
/*Estilo do corpo da página*/
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



img{
    /* Tamanho da Imagem */
    width: 500px;
    height: 500px;
    /* chamando a animação */
    animation: loading 1s  infinite;
}

/*Configurando a Animação*/
@keyframes loading{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}